<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ServiceEndpoints:Users" value="http://viessmannusersherpin.azurewebsites.net"/>
  <add key="ServiceEndpoints:Gateways" value="http://viessmanngatewaysherpin.azurewebsites.net/"/>
  <add key="ServiceEndpoints:Kolibri" value="http://universityiotkolibriservice.azurewebsites.net/"/>
</appSettings>